<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="../../admin/Admin/add" method="post">
            <input type ="text" name="user_id" placeholder="user_name" value="57954069BE245E145825A38FD8E224D4"/><br>
            <input type ="text" name="user_name" placeholder="user_name" /><br>
            <input type ="text" name="password" placeholder="password"/><br>
            <!--<input type ="text" name="nickname" placeholder="nickname"/><br>-->
            <input type ="text" name="age" placeholder="age"/><br>
            <input type ="text" name="constellation" placeholder="constellation"/><br>
            <input type ="text" name="headimg" placeholder="headimg"/><br>
            <input type ="text" name="autograph" placeholder="autograph"/><br>
            <input type ="submit" value="提交" />
        </form>
    </body>
</html>
